.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .card {
    max-width: 400px;

    .header {
      margin-bottom: 10px;

      .name {
        font-size: 25px;
      }
    }
  }
}
