<!--<div *ngIf="user">-->
<!--<h3>{{user.login}}</h3>-->
<!--<h3>{{user.html_url}}</h3>-->
<!--<h3>{{user.location}}</h3>-->
<!--<h3>{{user.public_repos}}</h3>-->
<!--<h3>{{user.followers}}</h3>-->
<!--<h3>{{user.following}}</h3>-->
<!--</div>-->

<div *ngIf="user" class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{user.login}}</mat-card-title>
      <mat-card-subtitle>{{user.location}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="user.avatar_url" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>
</div>
