<div>
  <ngx-datatable
    class='material'
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="5"
    [rows]='users'
    [loadingIndicator]="isLoaded"
  >
    <ngx-datatable-column name="Login">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div
          [routerLink]="['user', row.id]"
          (click)="openBottomSheet(row.id)"
        >
          {{row.login}}
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="Score">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.score | number: '1.2-2'}}
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>
