<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form">
  <div class="inside-form">
    <mat-card-title>Search Github users</mat-card-title>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        formControlName="name"
        matInput
      >
      <mat-error *ngIf="form.get('name').invalid && form.get('name').touched">{{getErrorMessageName()}}</mat-error>
    </mat-form-field>
    <div class="buttons">
      <button [disabled]="form.invalid" type="submit" mat-raised-button="primary">Search</button>
    </div>
  </div>
</form>

<app-data-table [users]="users"></app-data-table>
